{% extends 'layouts/base.html' %}
{% block title %}Изменение профиля{% endblock %}
{% block main %}
    <div class="container">
        <div class="row">
            <div class="d-flex justify-content-center">
                <h1 id="form-title">Редактирование профиля</h1>
            </div>
                <form action="" enctype="multipart/form-data" method="post">
                    {% csrf_token %}
                    Имя{{ user_form.first_name }}
                    Фамииля {{ user_form.last_name }}
                    Имя пользователя {{ user_form.username }}
                    Почта {{ user_form.email }}
                    <div class="mt-2"> {{ user_form.avatar }}</div>
                <p class="mt-2">Мои навыки: <br>
                    {% for user_tag in user_tags %}
                        {{ user_tag.name }} <br>
                    {% endfor %}
                </p>
                    <a href="{% url 'user-change-tags' %}">Добавить навыки</a><br>
                    <input type="submit" class="btn submit-button mt-2" value="Готово">
                </form>
            </div>
        </div>
    <script>
        id_avatar = document.getElementById('id_avatar');
        id_avatar.className = 'form-control';

        id_tags = document.getElementById('id_tags');
        id_tags.className = 'form-control';
    </script>
{% endblock %}