{% extends 'layouts/base.html' %}
{% block title %}Мой профиль{% endblock title %}
{% block main %}
    <a style="float: right" class="btn btn-success" href="{% url 'user-change' %}">Изменить профиль</a><br>

    {% if user.avatar != None %}
        <img width="150px" height="200px" src="{{ user.avatar.url }}" alt=""><br>
    {% endif %}

    Пользователь: {{ user }} <br>
    Социальный рейтинг: {{ user.rating }} <br>
    <hr>
    Идеи, которые вам понравились: <br>
    {% for liked in users_idea_liked %}
            Название: {{ liked.idea.name }}| Автор идеи: {{ liked.idea.user }}
            <a href="{% url 'idea-dislike' pk=liked.id %}" class="btn btn-danger">Отказаться от идеи</a>
            {{ liked.idea.description|safe }}<br>
            Теги:
            {% for tag in liked.idea.tags.all %}
                <button class="btn btn-primary btn-sm">{{ tag.name }}</button>
            {% endfor %}
        <hr>
    {% endfor %}


    <hr>
    Ваши идеи: <br>
    {% for idea in list_user_idea %}
        Название: {{ idea.name }}
        <a href="{% url 'idea-change' pk=idea.id %} " class="btn btn-primary">Изменить</a>
        <a href="{% url 'idea-delete' pk=idea.id %}" class="btn btn-danger">Удалить</a>
        <br>
        Описание:
        {{ idea.description|safe }}
        Теги: <br>
        {% for tag in idea.tags.all %}
            <button class="btn btn-primary btn-sm">{{ tag.name }}</button>
        {% endfor %}
        <hr>
    {% endfor %}


{% endblock %}