{% extends 'layouts/base.html' %}
{% block title %}Мой профиль{% endblock title %}
{% block main %}
    Пользователь: {{ user }} <br>
    Социальный рейтинг: {{ user.rating }} <br>
    <hr>
    Идеи, которые вам понравились: <br>
    {% for liked in users_idea_liked %}
        <form action="{% url 'idea-dislike' %}" method="post">
        {% csrf_token %}
            Название: {{ liked.idea.name }}| Автор идеи: {{ liked.idea.user }}
            <input hidden name="idea_id" value="{{ liked.id }}">
            <input class="btn btn-danger" type="submit" value="Отказаться от идеи"> <br>
            {{ liked.idea.description|safe }}<br>
            Теги:
            {% for tag in liked.idea.tags.all %}
                {{ tag.name }},
            {% endfor %}
        </form>
        <hr>
    {% endfor %}


    <hr>
    Ваши идеи:
    {% for idea in list_user_idea %}
        Название: {{ idea.name }}<br>
        Описание:
        {{ idea.description|safe }}
        Теги: <br>
        {% for tag in idea.tags.all %}
            {{ tag.name }},
        {% endfor %}
        <hr>
    {% endfor %}


{% endblock %}