{% extends 'layouts/base.html' %}
{% block main %}
    <div style="margin-top: 100px">
        <h1>Список доступных команд</h1>
        {% for team in team_list %}
            {{ team.name }}<br>
            Состав команды: <br>
            {% for teammates in users_not_in_team %}
                {% if teammates.team.id == team.id %}
                    * {{ teammates.user.username }}
                    {% if teammates.capitan %}
                        (Капитан)
                    {% endif %}
                    <br>
                {% endif %}
            {% endfor %}
            Описание: <br>
            {{ team.description|safe }}
            <a href="{% url 'add-team' pk=team.id %}" class="btn btn-primary">Присоедениться</a>
            <hr>
        {% endfor %}
    </div>
{% endblock %}