{% extends 'layouts/base.html' %}
{% load static %}
{% block main %}
    <div class="container emp-profile" style="margin-top: 100px; border-radius: 25px">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    {% if team_name.avatar %}
                        <img class="base-avatar" src="{{ team_name.avatar.url }}" alt=""
                             style="width: 200px; height: 200px">
                        <br>
                    {% else %}
                        <img class="base-avatar" src="{% static 'base/base_avatar.png' %}" alt=""
                             style="width: 200px; height: 200px"><br>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-8">
                <div class="profile-head">
                    {% for coop in users_in_team %}
                        {% if user.username == coop.user.username %}
                            {% if coop.capitan %}
                                <div class="col-sm-2" style="float: right; margin-right: 50px">
                                    <a class="btn btn-primary"
                                       href="{% url 'update-team' pk=team_name.id %}">
                                        Редактировать
                                    </a>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    <h2 class="text-our-style-normal">{{ team_name.name }}</h2>
                    <p class="proile-rating">
                        {% for skill in team_name.tags.all %}
                            <span class="ml-2">{{ skill.name }}</span>
                        {% endfor %}
                    </p>

                    <h6>
                        Идея: {{ team_name.idea.name }}
                    </h6>

                    <label for="" class="text-our-style">Участники:</label>
                    <ul>
                        {% for teammate in users_in_team %}
                            <li>
                                {% if user == teammate.user %}
                                    <a href="{% url 'user-profile' %}">
                                {% else %}
                                    <a href="{% url 'teammate-profile' pk=teammate.user.id %}">
                                {% endif %}
                                {{ teammate.user.username }}
                                {% if teammate.capitan %}
                                    (Капитан)
                                {% endif %}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="col-sm-2" style="float: right; margin-right: 50px;">
                        <a href="{% url 'leave-team' pk=team_name.id %}" class="btn btn-danger mt-2">
                            Покинуть
                        </a>
                    </div>
                </div>

            </div>

        </div>

    </div>
    <style>
        .emp-profile {
            padding: 3%;
            margin-top: 3%;
            margin-bottom: 3%;
            border-radius: 0.5rem;
            background: #fff;
        }

        .profile-img {
            text-align: center;
        }

        .profile-img img {
            width: 70%;
            height: 100%;
        }

        .profile-head h5 {
            color: #333;
        }

        .profile-head h6 {
            color: #0062cc;
        }

        .proile-rating {
            font-size: 12px;
            color: #818182;
            margin-top: 5%;
        }

        .proile-rating span {
            color: #495057;
            font-size: 15px;
            font-weight: 600;
        }

        .profile-head .nav-tabs {
            margin-bottom: 5%;
        }

        .profile-head .nav-tabs .nav-link {
            font-weight: 600;
            border: none;
        }

        .profile-head .nav-tabs .nav-link.active {
            border: none;
            border-bottom: 2px solid #0062cc;
        }

        .profile-work {
            padding: 14%;
            margin-top: -15%;
        }

        .profile-work p {
            font-size: 12px;
            color: #818182;
            font-weight: 600;
            margin-top: 10%;
        }

        .profile-work a {
            text-decoration: none;
            color: #495057;
            font-weight: 600;
            font-size: 14px;
        }

        .profile-work ul {
            list-style: none;
        }

        .profile-tab label {
            font-weight: 600;
        }

        .profile-tab p {
            font-weight: 600;
            color: black;
        }

        .profile-tab a {
            color: #0062cc;
            font-weight: 600;
        }
    </style>
{% endblock %}