{% extends 'layouts/base.html' %}
{% load static %}
{% block main %}
    <div class="container">
        <div class="row">
            <div class="d-flex justify-content-center">
                <h1 id="form-title">Создайте свою команду</h1>
            </div>
            <div class="d-flex justify-content-center form_container">
                <form action="" enctype="multipart/form-data" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col">
                            Название команды {{ form.name }}
                        </div>
                        <div class="col">
                            Закрытая команда <br>
                            <div style="margin-left: 50px">
                                {{ form.status }}
                            </div>
                        </div>
                    </div>
                    <div class="mt-2">Уникальное имя {{ form.slug }}</div>
                    <div class="mt-2">Лого команды (опционально) {{ form.avatar }}</div>
                    <div class="mt-2"> Описание (Обязательно) <br> {{ form.description }}</div>
                    <div class="mt-2">Идея (опционально) {{ form.idea }}</div>
                    <div class="mt-2">Необходимые навыки (опционально){{ form.tags }}</div>
                    <button type="submit" class="btn btn-primary mt-2">Готово</button>
                </form>
            </div>
        </div>
    </div>

    <script>
        id_name = document.getElementById('id_name');
        id_name.placeholder = 'Введите название команды...';

        id_idea = document.getElementById('id_idea');
        id_idea.className = 'form-control';
        id_idea.setAttribute('border-radius', '25px');

        id_avatar = document.getElementById('id_avatar');
        id_avatar.className = 'form-control';

        id_tags = document.getElementById('id_tags');
        id_tags.className = 'form-control';

        id_status = document.getElementById('id_status');
        id_status.className = 'form-check-input';

    </script>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock %}