{% load static %}
{% block header %}
<header class="header" id="header" style="z-index: 1">
    <div class="header_toggle"><i class='bx bx-menu' id="header-toggle"></i></div>
    <div>
        <form method="get" action="{% url 'search' %}" class="d-flex">
            <div class="input-group">
                <input class="form-control mr-sm-2  mt-2" type="search" name="search"
                       placeholder="Введите фразу для поиска..." required
                       aria-label="Search" style="width: 500px; border-radius: 25px">
                <button class="btn btn-medium mt-2 search-button-submit" type="submit">Поиск</button>
            </div>
        </form>
    </div>
    <div class="header_img">
        {% if user.is_authenticated %}
            <img src="{{ user.avatar.url }}" alt="">
        {% endif %}
    </div>
</header>
<div class="l-navbar" id="nav-bar" style="z-index: 2">
    <nav class="nav">
        <div>
            <a href="/" class="nav_logo"> <img src="{% static 'base/cookies.png' %}" style="color: #AFA5D9; margin-left: -7px " alt="">
                <span class="nav_logo-name text-our-style-normal" style="font-size:24pt ">Банка идей</span>
            </a>
            <div class="nav_list">
                <a href="/" class="nav_link
                {% if request.path == '/' %}
                    active-header-button
                {% endif %}">
                    <i class='bx bx-grid-alt nav_icon'></i><span class="nav_name">Dashboard</span></a>
                <a href="{% url 'user-profile' %}" class="nav_link
                {% if 'users' in request.path %}
                    active-header-button
                {% endif %}"><i class='bx bx-user nav_icon'></i>
                    <span class="nav_name">Профиль</span></a>
                <a href="{% url 'get-idea-list' %}" class="nav_link"><i class='bx bx-message-square-detail nav_icon'></i><span class="nav_name">Идеи</span></a>
            {% if 'teams' in request.path %}
            {% endif %}
                <a href="{% url 'my-teams' %}" class="nav_link {% if 'teams' in request.path %}active{% endif %}"><i class='bx bx-bookmark nav_icon'></i>
                    <span class="nav_name">Команды</span> </a>
                <a href="#" class="nav_link"><i class='bx bx-folder nav_icon'></i> <span
                        class="nav_name">Files</span></a>
                <a href="/admin" class="nav_link"><i class='bx bx-bar-chart-alt-2 nav_icon'></i> <span
                        class="nav_name">Админка</span> </a>
            </div>
        </div>
        <a href="#" class="nav_link"> <i class='bx bx-log-out nav_icon'></i> <span class="nav_name">Выход</span> </a>
    </nav>
</div>
{% endblock %}