{% load static %}
<div style="float: right; width: 300px">
    <a class="btn btn-medium btn-sm search-button-submit" href="{% url 'create-team' %}"><i class="fa-solid fa-plus"></i> Создать новую команду</a>
    <div class="border" style="margin-top: 100px; border-radius: 25px; background-color: white">
        <span class="ml-3 mb-3 font-our-style-normal">Рекомендуемые команды</span>
        <div class="list-group mt-2">
            {% for team in team_list_to_add %}
                <div class="{% if not forloop.last %}border-bottom {% endif %}mt-2">
                    <div class="d-flex w-100 justify-content-start">
                        <a href="{% url 'team-detail' slug=team.slug %}" class="ml-2">
                            <img src="
                        {% if team.avatar %}
                            {{ team.avatar.url }}
                        {% else %}
                            {% static 'base/base_avatar.png' %}
                        {% endif %}" width="40px" height="40px" alt="">
                        </a>
                        <h6 class="mt-2 ml-2"><a href="{% url 'team-detail' slug=team.slug %}">{{ team.name }}</a>
                        </h6>
                    </div>
                    <a href="{% url 'add-team' slug=team.slug %}" style="float: right; font-size: 8pt"
                       class="btn btn-sm mr-2 mb-2 submit-button"><i class="fa-solid fa-plus"></i></a>
                </div>
            {% endfor %}
        </div>
        <div class="border-top" style="text-align: center">
            <a class="btn btn-medium" href="{% url 'teams-list' %}">Показать все команды</a>
        </div>
    </div>
</div>