{% extends 'layouts/base.html' %}
{% block title %}Создание новой идеи{% endblock title %}
{% block main %}

    <div class="d-flex justify-content-center h-100">
        <div class="user_card" style="z-index: 11;">
            <div class="d-flex justify-content-center">
                <h1 id="form-title">Введите данные</h1>
            </div>
            <div class="d-flex justify-content-center form_container">
                <form method="POST" action="">
                    {% csrf_token %}
                    {% for tags in tags_idea %}
                        <input type="checkbox" name="{{ tags.name }}" value="{{ tags.id }}"> {{ tags.name }} <br>
                    {% endfor %}
                    <div class="mb-3">
                        <label for="formGroupExampleInput" class="form-label">Название</label>
                        <input type="text" name="name" class="form-control" id="formGroupExampleInput"
                               placeholder="Пример названия">
                    </div>
                    <div class="mb-3">
                        <label for="formGroupExampleInput2" class="form-label">Описание (не обязательно)</label>
                        <br>
                        {{ form.description }}
                    </div>

                    <input type="submit" class="btn btn-primary" value="Готово!">
                </form>
            </div>
        </div>
    </div>

    {% load static %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock %}