{% extends 'layouts/base.html' %}
{% block main %}
    <a href="{% url 'main' %}" class="btn btn-danger">На главную</a>
    <div class="d-flex justify-content-center form_container">
        <form action="{% url 'get-idea-title' %}" method="post">
            {% csrf_token %}
            <div class="left-side my-4">
                <h3 class="sear-head editContent">Теги</h3>
                <ul class="w3layouts-box-list">
                    {% for tag in idea_tag_list.all %}
                        <li class="editContent">
                            <input type="checkbox" name="tags" value="{{ tag.name }}">
                            <span class="span editContent">{{ tag.name }}</span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <button type="submit">Найти</button>
        </form>


    </div>
        <hr>
     {% for idea in idea_list %}
            {{ idea.name }}<br>
            {% for tag in idea.tags.all %}
                {{ tag.name }}
            {% endfor %}
         <br>
        {% endfor %}
{% endblock %}
