{% extends 'layouts/base.html' %}
{% block main %}
    <div style="margin-top: 100px">
        <aside style="float: right; width: 250px;">
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button"
               aria-expanded="false" aria-controls="collapseExample">
                Показать/Скрыть теги <i class="fa-solid fa-angle-down"></i>
            </a>
            <div class="collapse" id="collapseExample" style="border-radius: 25px;  margin-left: -25px; margin-right: 25px">
                <div class="card card-body" style="border-radius: 25px;">
                    <div class="row">
                        <form action="{% url 'get-idea-list-filter' %}" method="get">
                        {% csrf_token %}
                            {% for tags in idea_tag_list.all %}
                                <div class="col-md-12">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" name="{{ tags.name }}"
                                               value="{{ tags.id }}">
                                        {{ tags.name }}
                                    </div>
                                </div>
                            {% endfor %}
                            <button type="submit" class="btn btn-primary mt-3">Фильтровать</button>
                        </form>
                    </div>
                </div>
            </div>
        </aside>
        <div class="container">
            <div class="row justify-content-center">
                {% for idea in idea_list %}
                    <div class="col-sm-10 mt-2">
                        <div class="card"  style="border-radius: 25px">
                            <div class="card-body">
                                <h5 class="card-title">{{ idea.name }}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{ idea.user }}</h6>
                                {% for tag in idea.tags.all %}
                                    <a href="{% url 'tags-search' pk=tag.id %}" class="btn btn-primary btn-sm ">{{ tag.name }}</a>
                                {% endfor %}
                                <p class="card-text">{{ idea.description|safe }}</p>
                                <a href="{% url 'idea-like' pk=idea.id %}" class="btn btn-success">Принять идею</a>
                                {#                                <a href="#" class="card-link">Другая ссылка</a>#}
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}