{% extends 'layouts/base.html' %}
{% block main %}
    <a href="{% url 'main' %}" class="btn btn-danger">На главную</a>
    <div class="d-flex justify-content-center h-100">
        <div class="user_card" style="z-index: 11;">
            <div class="d-flex justify-content-center">
                <h1 id="form-title">{{ list_idea }}</h1>
            </div>
            <div class="d-flex justify-content-center form_container">
                <form method="POST" action="">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-primary" value="Получить идею!">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
