{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}Главная страница{% endblock title %}
{% block main %}


    <div class="container">
        <div class="row" style="margin-top: 100px">
            <div class="d-flex justify-content-center h-100">
                <div class="user_card" style="z-index: 2;">
                    <div class="d-flex justify-content-center">
                        <h1 id="form-title">Выберите следующее действие:</h1>
                    </div>
                    <div class="d-flex justify-content-center form_container">
                        <form action="">
                            <a href="{% url 'create-idea' %}" class="btn btn-medium"><img
                                    src="{% static 'base/для меню.png' %}" alt=""></a>
                            <a href="{% url 'get-idea-title' %}" class="btn btn-medium"><img
                                    src="{% static 'base/заглушка2.png' %}"
                                    style="width: 290px; height: 200px; margin-top: 100px" alt=""></a>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <div class="modal fade fixed-overlay" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true" style="border-radius: 25px">
        <div class="modal-dialog modal-dialog-scrollable" style="border-radius: 25px">
            <div class="modal-content" style="border-radius: 25px">
                <div class="modal-header ">
                    <h5 class="modal-title text_about_title" id="exampleModalLabel">Политика сайта</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    {% include 'about.html' %}
                    <div class="modal-footer" style="border: none">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="fixed-bottom border-top" style="height: 60px; text-align: center; z-index: 1">
        <!-- Кнопка-триггер модального окна -->
        <button type="button" class="btn btn-medium text_about" data-bs-toggle="modal" data-bs-target="#exampleModal"
                style="color: #4723D9; font-size: 24pt">
            Политика сайта
        </button>
    </footer>

{% endblock %}