<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <title>Главная страница</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://kit.fontawesome.com/f433a9122e.js" crossorigin="anonymous"></script>
</head>
<body>
    <a class="btn btn-primary" href="/admin">В админку!</a>
    <form action="" method="post">
        {% csrf_token %}

        <input type="text" name="name">
        <input type="text" name="description">

        <button type="submit">Готово</button>
    </form>

    {{ list_idea }}
</body>
</html>