{% extends 'layouts/base.html' %}
{% load static %}
{% block main %}
    <h2 class="text-our-style-normal">Ваши сообщения</h2>
    <div style="border-radius: 25px; border:1px grey solid; float: left; padding: 5px; width: 500px">
        <ul class="list-group ml-2">
            {% for chat in chats %}
                <a href="{% url 'chatting' slug=chat.slug %}" class="list-group-item mt-2"
                   style="border-radius: 25px; border:1px solid grey; {% if chat.slug in request.path %} background-color: #007bff; color: white; border: none {% endif %}">
                    <!-- todo Изменить стили -->
                    {% if request.user == chat.user2 %}
                        {{ chat.user1 }}
                    {% elif request.user == chat.user1 %}
                        {{ chat.user2 }}
                    {% endif %}
                </a>
            {% endfor %}
        </ul>
    </div>

    <div class="row justify-content-center" style="margin-top: -40px">
        <div style=" width: 800px;">
            <div>
                <h3 class="text-our-style-normal">Чат с {% if request.user == chat.user2 %}
                    <a href="{% url 'teammate-profile' pk=chat.user1.id %}">{{ chat.user1 }}</a>
                {% elif request.user == chat.user1 %}
                    <a href="{% url 'teammate-profile' pk=chat.user2.id %}">{{ chat.user2 }}</a>
                {% endif %}</h3>
            </div>
        </div>
        <div style="border: 1px solid grey; background-color: white; border-radius: 25px; width: 800px">
            <div id="chat-messages">
                {% for message in messages %}
                    <div style='background-color: white' class="mt-2">
                        {% if message.user.avatar %}
                            <img src="{{ message.user.avatar.url }}" alt="" width="30px" height="30px">
                        {% else %}
                            <img src="{% static 'base/Profile.png' %}" alt="" width="30px" height="30px">
                        {% endif %}
                        <span style="font-weight: bold">{{ message.user.username }}</span>
                        <span>: {{ message.content }}</span>
                        <span class="mr-2"
                              style="float: right; color: gray; font-size: 10pt">{{ message.date_added }}</span>
                    </div>
                {% endfor %}
            </div>
            <form action="." method="post" class="d-flex mb-2 mt-4">
                <input type="text" name="content" placeholder="Напишите сообщение..."
                       id="chat-message-input" class="form-control" required
                       style=" width:750px; height: 40px; border-radius: 25px 0 0 25px; border-right: none;">
                <div style="border-radius: 0 25px 25px 0; border-top: 1px #ced4da solid; border-bottom: 1px #ced4da solid;height: 40px;">
                    <button type="submit" class="btn search-button-submit" id="chat-message-submit">
                        <i class="fa-solid fa-paper-plane"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <style>
        #chat-messages {
            height: 300px;
            overflow-y: scroll;
        }
    </style>
    <script src="https://momentjs.com/downloads/moment-with-locales.min.js"></script>
    <script>

        const roomName = JSON.parse(document.getElementById('json-roomname').textContent);
        const userName = JSON.parse(document.getElementById('json-username').textContent);
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/userchat/'
            + roomName
            + '/'
        );

        if (chatSocket.CLOSED) {
            console.log("Уже закрыт")
        }
        chatSocket.onclose = function (e) {
            console.log('onclose')
        }

        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);

            // Время
            moment.locale('ru')
            var day = moment().format('LL');
            var time = moment().format('LT');

            if (data.message) {
                document.querySelector('#chat-messages').innerHTML += (
                    '<div style="background-color: white" class="mt-2">' +
                    '<img src="{{ request.user.avatar.url }}" alt="" width="30px" height="30px">' +
                    '<span style="font-weight: bold; margin-left:5px">' + data.username + '</span>: ' + '<span>' + data.message + '</span>' +
                    '<span class="mr-2" style="float: right; color: gray; font-size: 10pt">' + day + ' ' + time + '</span>' + '<br>' + '</div>');
            } else {
                alert('The message was empty!')
            }

            scrollToBottom();
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function (e) {
            if (e.keyCode === 13) {
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function (e) {
            e.preventDefault()

            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;

            console.log({
                'message': message,
                'username': userName,
                'room': roomName
            })
            if (message) {
                chatSocket.send(JSON.stringify({
                    'message': message,
                    'username': userName,
                    'room': roomName
                }));
            }

            messageInputDom.value = '';

            return false
        };

        /**
         * A function for finding the messages element, and scroll to the bottom of it.
         */
        function scrollToBottom() {
            let objDiv = document.getElementById("chat-messages");
            objDiv.scrollTop = objDiv.scrollHeight;
        }

        // Add this below the function to trigger the scroll on load.
        scrollToBottom();
    </script>
{% endblock main %}
{% block script %}
    {{ chat.slug|json_script:"json-roomname" }}
    {{ request.user.username|json_script:"json-username" }}
{% endblock %}