{% extends 'layouts/base.html' %}

{% block title %}Список ответов{% endblock %}

{% block main %}
    Ваши ответы:
    {% for solution in solution_list %}
        Идея: {{ solution.idea.name }} | Автор: {{ solution.idea.user }}<br>
        Описание: {{ solution.idea.description | safe }} <br>
        Ваше решение: <br> {{ solution.text }} <br>
        {% if solution.image %}
            Прикрепленное изображение:
            <img src="{{ solution.image.url }}" width="100px" height="100px" alt=""> <br>
        {% endif %}
        {% if solution.url_to_upload != '' %}
            Прикрепленные ссылки: {{ solution.url_to_upload }} <br>
        {% endif %}
        <a href="{% url 'solution-update' pk=solution.id %}">Изменить ответ</a>
        <hr>
    {% endfor %}

{% endblock %}